* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #494949;
  background-color: #252525;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.3rem 1.4rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #43117c;
  border-color: #43117c;
}